add-trailing-comma==2.0.2
aiodine==1.2.9
aiohttp==3.7.3
aiomisc-dependency==0.1.16
aiomisc==11.1.11
alembic==1.4.3
async-timeout==3.0.1
asyncpg==0.21.0
asyncpgsa==0.26.3
attrs==20.3.0
autoflake==1.3.1
chardet==3.0.4
colorlog==4.6.2
ConfigArgParse==1.2.3
fast-json==0.3.2
idna==3.1
iniconfig==1.1.1
isort==5.4.2
Mako==1.1.3
MarkupSafe==1.1.1
multidict==5.1.0
packaging==20.9
pluggy==0.13.1
prettylog==0.3.0
psycopg2-binary==2.8.6
py==1.10.0
pydantic==1.7.3
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pyupgrade==2.1.1
setproctitle==1.2.1
six==1.15.0
SQLAlchemy==1.3.22
tokenize-rt==4.0.0
toml==0.10.2
typing-extensions==3.7.4.3
ujson==4.0.1
unify==0.5
untokenize==0.1.1
yarl==1.6.3
